layout {
    pane size=1 split_direction="vertical" {
        pane size="75%" borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="25%" borderless=true {
            plugin location="file:/Users/billkontos/.config/zellij/plugins/zellij-datetime.wasm" {
            timezone1 "EST/-5"
            timezone2 "UTC/0"
            default_timezone "EST"
            date_format "%Y/%m/%d %A"
            time_format "%I:%M %p"
            background_color "#000000"
            foreground_color "#ffffff"
            pane_color "#000000"
            enable_right_click false
            arrow_separator1 ""
            arrow_separator2 ""
            arrow_separator3 ""
            padding_adjust 0
            text_align "right"
          }
        }
    }
    pane
}
